<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-SelectedViewModelInEditor"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-OCLWinStayOpen"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-ShownModel">54123ad8-c8de-428b-8eb5-821fee69698f</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-CloudName"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-CloudPwd"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-CloudPwdStore">false</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-BorPredServerList"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorThreeJSExample\BlazorThreeJSExample.modlr-TurnkeyComponents"></keyandvalue>
</configs>