<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-ShownModel">ce75f88c-f136-4892-ab70-ff2b9036717f</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-SelectedViewModelInEditor"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-TurnkeyComponents"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-OCLWinStayOpen"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-RunningModel_PersistenceSetting">XML</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-DebuggerOcl">ocl: SysSingleton.allinstances-&gt;subsequence(0,49)

</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\BlazorGanttExample\BlazorGanttExample.modlr-DebuggerVars"></keyandvalue>
</configs>