<?xml version="1.0" encoding="utf-8"?>
<snippets>
  <Snippet Name="GanttChartView" Author="" Description="" HasAction="False" HasClass="False" HasClassFeatures="False" HasViewColumns="False" HasViewModel="True" id="42335e36-b621-418e-8f33-1e5fe46d1399" />
</snippets>