<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-ShownModel">3dbc51e5-22c4-4834-a6ef-3f9f3b61a9c4</keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintApp/StoreComplaintHandling.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-RunningModel_PersistenceSetting">XML</keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-DebuggerOcl">action: SysUser.allinstances-&gt;subsequence(0,49)-&gt;last.delete

ocl: SysUser.allinstances-&gt;subsequence(0,49)

</keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintApp\StoreComplaintHandling.ecomdl-DebuggerVars"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-ShownModel"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:/Users/developer/Desktop/Docker Structure/MDrivenComponents/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StoreComplaintHandlingApp/StoreComplaintHandling.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\developer\Desktop\Docker Structure\MDrivenComponents\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StoreComplaintHandlingApp\StoreComplaintHandling.ecomdl-ShownModel">3dbc51e5-22c4-4834-a6ef-3f9f3b61a9c4</keyandvalue>
</configs>