<div class="container">
  <div class="wrapper">
    <div class="petal-wrapper" >
        <div ng-repeat="row in ViewModelRoot.Curr_EnBlomma().Blad" class="petal">
            {{row.Attribute1}}
        </div>
        <div class="core"><div style="vertical-align: middle;line-height: 5em;">{{ViewModelRoot.Curr_EnBlomma().Namn}}</div></div>
    </div>
  </div>
</div>