/* Some Sass variables */
.board {
  background: #0079bf; }

.lists {
  display: grid;
  grid-template-rows: 100% 20px;
  overflow-x: auto;
  height: 100%;
  grid-column-gap: 10px;
  grid-auto-columns: 300px;
  padding: 10px; }

.list {
  grid-row: 1;
  width: 300px;
  height: calc(100% - 10px - 17px); }
  .list > * {
    background-color: #e2e4e6;
    color: #333;
    padding: 0 10px; }
  .list .boardheader {
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .list .boardfooter {
    line-height: 36px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #888; }
  .list ul.boardlist {
    list-style: none;
    margin: 0;
    max-height: calc(100% - 36px - 36px);
    overflow-y: auto; }
    .list ul.boardlist li {
      background-color: #fff;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
      .list ul.boardlist li:not(:last-child) {
        margin-bottom: 10px; }
      .list ul.boardlist li img {
        display: block;
        width: calc(100% + 2 * 10px);
        margin: -10px 0 10px -10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }

.rotateWhileMove {
  transform: rotate(7deg);
  z-index: 1000; }

.boardcardstatus {
  display: absolute;
  height: 10px;
  width: 40px;
  vertical-align: bottom;
  background: red;
  border-radius: 3px; }

.red {
  background: linear-gradient(pink, red); }

.green {
  background: linear-gradient(lightgreen, green); }

.yellow {
  background: linear-gradient(lightyellow, yellow); }
