/* Some Sass variables */
// Layout
$appbar-height: 40px;
$navbar-height: 50px;
$list-width: 300px;
$gap: 10px;
$scrollbar-thickness: 17px;
$list-header-height: 36px;
$list-footer-height: 36px;
// Misc
$list-border-radius: 5px;
$card-border-radius: 3px;
// Colors
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;
$list-bg-color: #e2e4e6;


.board {
  background:  $board-bg-color;
}


.lists {
  display: grid;
  grid-template-rows: 100% 20px;
  overflow-x: auto;
  height: 100%;
  grid-column-gap: $gap;
  grid-auto-columns: 300px;
  padding: $gap;
}


.list {
  grid-row: 1;
  width: $list-width;
  height: calc(100% - #{$gap} - #{$scrollbar-thickness});

  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }

  .boardheader {
    line-height: $list-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $list-border-radius;
    border-top-right-radius: $list-border-radius;
  }

  .boardfooter {
    line-height: $list-footer-height;
    border-bottom-left-radius: $list-border-radius;
    border-bottom-right-radius: $list-border-radius;
    color: #888;
  }

  ul.boardlist {
    list-style: none;
    margin: 0;

    max-height: calc(100% - #{$list-header-height} - #{$list-footer-height});
    overflow-y: auto;

    li {
      background-color: #fff;
      padding: $gap;
      &:not(:last-child) {
        margin-bottom: $gap;
      }

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      img {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }
  }
}

.rotateWhileMove {
  transform: rotate(7deg);
  z-index: 1000;
}

.boardcardstatus
{
 display: absolute;
 height: 10px;
 width: 40px;
 vertical-align: bottom;
 background: red;
 border-radius: 3px;
}

.red {
  background: linear-gradient(pink, red);
 }

.green {
  background: linear-gradient( lightgreen,green);
}
.yellow {
  background: linear-gradient( lightyellow,yellow);
}


