<style>
 .thetreejscanvas {
    background-color: #111;	
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin-top: 25px;
    padding: 0px;
	
	overflow: hidden;
}
</style>
<div treejs class='thetreejscanvas' ></div>

