<div takepicture viewmodelname='[ViewModelClassName].[ViewModelColumnName]'>
  <video  width="320" height="240" autoplay style="display:none;"></video>
  <button type='button'>Take picture</button>
</div> 