<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-ShownModel">91e7997e-f0ac-4954-bc7b-45b3867dde19</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NewsApp\NewsApp.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-SelectedViewModelInEditor">57bd9a4a-3a33-4da4-af0b-5a445015d787</keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-ShownModel">91e7997e-f0ac-4954-bc7b-45b3867dde19</keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-SelectedViewModelInEditor">0677677c-a7a2-456e-87fe-b296babaa710</keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-OCLWinStayOpen"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-SelectedViewModelInEditor">57bd9a4a-3a33-4da4-af0b-5a445015d787</keyandvalue>
  <keyandvalue key="D:\Works\Final\NewsApp\NewsApp.ecomdl-OCLWinStayOpen"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="D:/Works/Final/NewsApp/NewsApp.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/NewsApp/NewsApp.ecomdl-OCLWinStayOpen"></keyandvalue>
</configs>