<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-ShownModel">cee73611-328f-4580-b056-9f4efa91ec46</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:/Works/Final/DashboardApp/DashboardApp.ecomdl-ShownModel">cee73611-328f-4580-b056-9f4efa91ec46</keyandvalue>
  <keyandvalue key="D:/Works/Final/DashboardApp/DashboardApp.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="D:/Works/Final/DashboardApp/DashboardApp.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="D:/Works/Final/DashboardApp/DashboardApp.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="D:/Works/Final/DashboardApp/DashboardApp.ecomdl-SelectedViewModelInEditor"></keyandvalue>
  <keyandvalue key="D:/Works/Final/DashboardApp/DashboardApp.ecomdl-OCLWinStayOpen"></keyandvalue>
  <keyandvalue key="D:/Works/Final/DashboardApp/DashboardApp.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-OCLWinStayOpen"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-SelectedViewModelInEditor">307990f8-8d7b-4127-8d3b-55fea9902eb0</keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="D:\Works\Final\DashboardApp\DashboardApp.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-SelectedViewModelInEditor">307990f8-8d7b-4127-8d3b-55fea9902eb0</keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\DashboardApp\DashboardApp.ecomdl-SelectedViewModelInEditor">307990f8-8d7b-4127-8d3b-55fea9902eb0</keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\DashboardApp\DashboardApp.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\DashboardApp\DashboardApp.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\DashboardApp\DashboardApp.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:/Users/developer/OneDrive/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/DashboardApp/DashboardApp.ecomdl-OCLWinStayOpen"></keyandvalue>
  <keyandvalue key="C:\Users\developer\OneDrive\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\DashboardApp\DashboardApp.ecomdl-OCLWinStayOpen"></keyandvalue>
</configs>