<div   >
  <div tk-gantt class="tkGantt" >
    <div class="tkDateScalerHeader">
      <div class="tkDateScaler">Here comes DateScaler</div>
    </div>
          <ul ng-repeat="data in data.RootNodes" tk-data class="tree" >
            <li tk-data tk-tree-gantt-node>
              <span class="tkLabelEditRoot">
                <div modeltype="String" ng-if="ViewModelRoot.VM_Status.RootList_Label_ReadOnly">{{data.Label}}</div>
                <input id="RootList.Label" type="text" maxlength="255" ng-model="data.Label" ng-if="!ViewModelRoot.VM_Status.RootList_Label_ReadOnly"  />
              </span>
                    <div class="tkGanttRow tkGanttRowLev1" tk-collision-detect="true" tk-row-height="28" tk-row-height-increase="5" tk-create-time-item-mode="{{data.allowCreate}}">
                      <div ng-repeat="timeItem in data.TimeItems" tk-data tk-time-item class="tkTimeItem {{timeItem.css}}" tk-allow-move="{{timeItem.allowMove}}" tk-allow-resize-start="{{timeItem.allowResizeStart}}" tk-allow-resize-stop="{{timeItem.allowResizeStop}}" tk-allow-change-row="{{timeItem.allowChangeRow}}">
                        <div class="tkTimeItemInner">{{timeItem.InnerText}}</div>
                      </div> 
                    </div>
              <ul ng-repeat="data in data.SubNodes">
                <li tk-data tk-tree-gantt-node>
                          <span class="tkLabelEditRoot lev2">
                            <div modeltype="String" ng-if="ViewModelRoot.VM_Status.RootList_Label_ReadOnly">{{data.Label}}</div>
                            <input id="SubList1.Label" type="text" maxlength="255" ng-model="data.Label" ng-if="!ViewModelRoot.VM_Status.RootList_Label_ReadOnly"  />
                          </span>
                          <div tk-data  class="tkGanttRow tkGanttRowLev2" tk-collision-detect="true" tk-row-height="28" tk-row-height-increase="5" tk-create-time-item-mode="{{data.allowCreate}}">
                            <div ng-repeat="timeItem in data.TimeItems" tk-data tk-time-item class="tkTimeItem {{timeItem.css}}" tk-allow-move="{{timeItem.allowMove}}" tk-allow-resize-start="{{timeItem.allowResizeStart}}" tk-allow-resize-stop="{{timeItem.allowResizeStop}}" tk-allow-change-row="{{timeItem.allowChangeRow}}">
                              <div class="tkTimeItemProgress" ng-style="{ 'width': timeItem.Progress + '%' }" ></div>
                              <div class="tkTimeItemInner" >{{timeItem.InnerText}}</div>
                              
                            </div>
                          </div>
                  <ul ng-repeat="data in data.SubNodes">
                    <li tk-data tk-tree-gantt-node>
                          <span class="tkLabelEditRoot lev3">
                            <div modeltype="String" ng-if="ViewModelRoot.VM_Status.RootList_Label_ReadOnly">{{data.Label}}</div>
                            <input id="SubList2.Label" type="text" maxlength="255" ng-model="data.Label" ng-if="!ViewModelRoot.VM_Status.RootList_Label_ReadOnly"  />
                          </span>
                            <div tk-data  class="tkGanttRow tkGanttRowLev3" tk-collision-detect="true" tk-row-height="28" tk-row-height-increase="5" tk-create-time-item-mode="{{data.allowCreate}}">
                              <div ng-repeat="timeItem in data.TimeItems" tk-data tk-time-item class="tkTimeItem {{timeItem.css}}" tk-allow-move="{{timeItem.allowMove}}" tk-allow-resize-start="{{timeItem.allowResizeStart}}" tk-allow-resize-stop="{{timeItem.allowResizeStop}}" tk-allow-change-row="{{timeItem.allowChangeRow}}">
                                <div class="tkTimeItemInner">{{timeItem.InnerText}}</div>
                              </div>
                            </div>
                    </li>
                  </ul>
                </li>
              </ul>
          </ul>
  
  </div>

</div>