<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-CloudName"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-CloudPwd"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-CloudPwdStore">false</keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-BorPredServerList"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Documents\FinanceAppDemo\FinanceAppDemo.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-ShownModel">1241affc-52e6-471d-8457-bceff3483d92</keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-RunningModel_PersistenceSetting">Transient</keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:/Users/HP/Desktop/MDriven Mergeable Models Repo/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/FinanceAppDemo/FinanceAppDemo.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_PersistenceSetting">XML</keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\HP\Desktop\MDriven Mergeable Models Repo\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\FinanceAppDemo\FinanceAppDemo.ecomdl-PreserveLegacyFilenames"></keyandvalue>
</configs>