<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-SelectedViewModelInEditor">97f43334-c657-4b30-832e-0824c801bfb3</keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-ShownModel">f42c8106-2bdd-4110-93ff-2b3de9394d2c</keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-BorPredServer"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-ExpressionForPrototypeStart"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-RunningModel_TargetGroup"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-RunningModelPersistence"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-RunningModel_Connstr"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-RunningModel_ConnstrSQLite"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-RunningModel_ConnstrSQLCompact"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-RunningModel_ConnstrVistaDB"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-RunningModel_MultiTenantPrefix"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-RunningModel_PersistenceSetting">XML</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-SQLPersistenceMapping">mdrivenserver</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-SQLUseVersion"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-DebuggerOcl">ocl: Class1.allinstances-&gt;select(image.notnull)

</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-DebuggerVars"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-OCLWinStayOpen"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-ShownModel">4456b01a-175e-4c5a-b2e0-97215a170df9</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-ViewModelScreenSizeX">1920</keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-ViewModelScreenSizeY">1080</keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-SelectedViewModelInEditor"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-OCLWinStayOpen"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-CloudName"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-CloudPwd"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-CloudPwdStore">false</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-BorPredServerList"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\StyleCheckDemo\StyleCheck.ecomdl-TurnkeyComponents"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-TurnkeyComponents"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-DebuggerOcl"></keyandvalue>
  <keyandvalue key="C:/Users/hans/source/repos/MDrivenComponents/MDrivenTurnkeyComponents/MDrivenMergeable/StyleCheckDemo/StyleCheck.ecomdl-DebuggerVars"></keyandvalue>
</configs>