<?xml version="1.0" encoding="utf-8"?>
<configs>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NavigatorThings\NavigatorThings.ecomdl-BorPredServer"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NavigatorThings\NavigatorThings.ecomdl-PreserveLegacyFilenames"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NavigatorThings\NavigatorThings.ecomdl-LocalTurnkeyUrl"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NavigatorThings\NavigatorThings.ecomdl-LabelOnTop"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NavigatorThings\NavigatorThings.ecomdl-LocalTurnkeyFileRoot"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NavigatorThings\NavigatorThings.ecomdl-LocalTurnkeyPort"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NavigatorThings\NavigatorThings.ecomdl-CopyAssetsTKOnStart"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NavigatorThings\NavigatorThings.ecomdl-ShownModel">6cddc31e-94b6-4a94-929f-538c065de85c</keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NavigatorThings\NavigatorThings.ecomdl-OCLWinStayOpen"></keyandvalue>
  <keyandvalue key="C:\Users\hans\source\repos\MDrivenComponents\MDrivenTurnkeyComponents\MDrivenMergeable\NavigatorThings\NavigatorThings.ecomdl-TurnkeyComponents"></keyandvalue>
</configs>